accelerate==0.17.0
ftfy==6.1
diffusers==0.14.0
huggingface-hub>=0.10.0,<1
imohash>=1.0.4
numpy~=1.24
OmegaConf>=2.3,<3
onnx~=1.13.1
onnxruntime-gpu==1.14.1
safetensors==0.3.0
scipy~=1.10
spacy~=3.5
termcolor>=2,<3
tomli-w
tomli
torch>1,<2 # torch.onnx.export is a bit broken with torch 2
transformers>=4.21.0,<5
yaspin~=2.3
